/TugasProject8/nbproject/private/
/TugasProject8/build/
/TugasProject9/nbproject/private/
/TugasProject7/nbproject/private/
/TugasProject9/build/
/TugasProject10/nbproject/private/
/TugasProject9Mia/nbproject/private/
/TugasProject9Mia/build/
/TugasProject11/nbproject/private/
/review/Review1/nbproject/private/
/review/Review1/build/
/TugasProject11/build/
/TugasProject12/nbproject/private/
/TugasProject12/build/
/Project8/nbproject/private/
/Project8/build/